/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: aquamarine;
}
.main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: antiquewhite;
    width: 870px;
    padding: 33px;
}

.section-title{
   color: blue;
   font-size: 24px;
}
/* top players style */
.players{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
}
.player{
    display: flex;
    align-items: center;
}
.player img{
width: 75px;
height: 75px;

}
.player-name{
    margin-left: 16px;
}